* {
  box-sizing: border-box;
}

.register {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../../images/bg.png");
  background-size: cover;
  position: relative;

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 40px;
      }

      .loginbtn {
        background-color: red;
        border: none;
        padding: 7.5px 15px;
        font-size: 14px;
        color: white;
        cursor: pointer;
      }
    }
  }

  .container {
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 42px;
      font-weight: 500;
      margin-bottom: 20px;
      text-align: center;
    }

    h2 {
      font-weight: 400;
      font-size: 22px;
      margin-bottom: 25px;
    }

    p {
      font-size: 15px;
      margin-bottom: 15px;
    }

    .input {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      width: 500px;
      border: none;
      font-size: 15px;

      input {
        flex: 9;
        height: 100%;
        outline: none;
        border: none;
        font-size: inherit;
        padding: 0 10px;
      }

      button {
        background-color: red;
        border: none;
        height: 100%;
        color: white;
        flex: 3;
        font-size: inherit;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
