.listItem {
  width: 225px;
  height: 120px;
  background-color: var(--main-color);
  margin-right: 10px;
  overflow: hidden;
  cursor: pointer;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  video {
    height: 140px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {
    width: 325px;
    height: 300px;
    color: white;
    position: absolute;
    top: -150px;
    -webkit-box-shadow: 0px 0px 20px -8px rgba(255, 255, 255, 0.32);
    -moz-box-shadow: 0px 0px 20px -8px rgba(255, 255, 255, 0.32);
    box-shadow: 0px 0px 20px -8px rgba(255, 255, 255, 0.32);
    // z-index: 999;

    img {
      height: 140px;
      display: none;
    }

    .iteminfo {
      display: flex;
      flex-direction: column;
      padding: 5px;

      .icons {
        display: flex;
        margin-bottom: 10px;

        .icon {
          padding: 5px;
          border: 2px solid white;
          border-radius: 50%;
          margin-right: 10px;
          font-size: 32px;
        }
      }

      .infoTop {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 14px;
        color: gray;

        .age {
          border: 1px solid gray;
          padding: 1px 3px;
          margin: 0px 10px;
        }
      }

      .desc {
        font-size: 13px;
        margin-bottom: 10px;
      }

      .genre {
        font-size: 14px;
        color: lightgrey;
      }
    }
  }
}
